doctype html
html
  <head>
    title= title
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <link rel="stylesheet" href="https://res.wx.qq.com/open/libs/weui/1.1.2/weui.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <style type="text/css" media="all">
        |#direction{margin-bottom:23px;}
        |#close{margin-bottom:23px;}
        |#footer{position:fixed;right:0;bottom:0;left:0;z-index:1030;height:25px;text-align:center!important;color:#0056b3;background-color:#343a40!important;}
    </style>
    <script type="text/javascript" src="https://res.wx.qq.com/open/libs/weuijs/1.1.3/weui.min.js"></script>
    <script type="text/javascript" src="/javascripts/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/javascripts/wejs.js"></script>
    </head>
  <body ontouchstart>
    div
        textarea(id="items",style="display:none;")= JSON.stringify(data)
        input(id="page",type="hidden",value= data.page)
        input(id="id",type="hidden",value= data.id)
    <p id="bear"></p>
    <div id="form">
        <div>
            h2= message
            <h3 id='title'>题目</h3>
            div
                img(src="",id="titlepic")
            <div class="page__code" id='code' style="display:none;">
            <pre>
            <span>public static void main(String args[]) {</span>
            <span>   Thread t = new Thread() {</span>
            <span>    public void run() {</span>
            <span>            pong();</span>
            <span>        }</span>
            <span>    };</span>
            <span>    t.run();</span>
            <span>    System.out.print("ping");</span>
            <span>}</span>
            <span>static void pong() {</span>
            <span>    System.out.print("pong");</span>
            <span>}</span>
            </pre>
            </div>
        </div>


        <div class="weui-cells__title">请选择</div>
        <div id='choHeader' class="weui-cells weui-cells_checkbox">
            <label class="weui-cell weui-check__label" for="A" id="cA">
                <div class="weui-cell__hd">
                    <input type="checkbox" tips="请勾选1个答案" class="weui-check" name="assistance" id="A">
                    <i class="weui-icon-checked"></i>
                </div>
                <div class="weui-cell__bd" id='dA'>A</div>
            </label>
            <label class="weui-cell weui-check__label" for="B" id="cB">
                <div class="weui-cell__hd">
                    <input type="checkbox" name="assistance" class="weui-check" id="B">
                    <i class="weui-icon-checked"></i>
                </div>
                <div class="weui-cell__bd" id='dB'>B</div>
            </label>
            <label class="weui-cell weui-check__label" for="C" id="cC">
                <div class="weui-cell__hd">
                    <input type="checkbox" name="assistance" class="weui-check" id="C">
                    <i class="weui-icon-checked"></i>
                </div>
                <div class="weui-cell__bd" id='dC'>C </div>
            </label>
            <label class="weui-cell weui-check__label" for="D" id="cD">
                <div class="weui-cell__hd">
                    <input type="checkbox" name="assistance" class="weui-check" id="D">
                    <i class="weui-icon-checked"></i>
                </div>
                <div class="weui-cell__bd" id='dD'>D</div>
            </label>
            <label class="weui-cell weui-check__label" for="E" id="cE">
                <div class="weui-cell__hd">
                    <input type="checkbox" name="assistance" class="weui-check" id="E">
                    <i class="weui-icon-checked"></i>
                </div>
                <div class="weui-cell__bd" id='dE'>E</div>
            </label>
            <label class="weui-cell weui-check__label" for="F" id="cF">
                <div class="weui-cell__hd">
                    <input type="checkbox" name="assistance" class="weui-check" id="F">
                    <i class="weui-icon-checked"></i>
                </div>
                <div class="weui-cell__bd" id='dF'>F</div>
            </label>
            <label class="weui-cell weui-check__label" for="G" id="cG">
                <div class="weui-cell__hd">
                    <input type="checkbox" name="assistance" class="weui-check" id="G">
                    <i class="weui-icon-checked"></i>
                </div>
                <div class="weui-cell__bd" id='dG'>G</div>
            </label>
            <label class="weui-cell weui-check__label" for="H" id="cH">
                <div class="weui-cell__hd">
                    <input type="checkbox" name="assistance" class="weui-check" id="H">
                    <i class="weui-icon-checked"></i>
                </div>
                <div class="weui-cell__bd" id='dH'>H</div>
            </label>
        </div>
        <div id="direction" class="weui-btn-area">
            <a id="prev" href="javascript:prev()" class="weui-btn weui-btn_mini weui-btn_primary weui-btn_plain-default">上一个</a>
            <a id="next" href="javascript:next(this)" class="weui-btn weui-btn_mini weui-btn_primary weui-btn_primary">下一个</a>
        </div>
        <div id="expdiv" class="weui-btn-area" style="display:none;">
            <a id="expa" href="javascript:exp(this)" class="weui-btn weui-btn_plain-default">解析</a>
        </div>
        div(id="exparea" style="display:none;")
            div
                h3(id='exph')
            div
                img(src="",id="anspic")
        <div id="close" class="weui-btn-area" style="display:none;">
            <a id="closea" href="javascript:close(this)" class="weui-btn weui-btn_warn">结束</a>
        </div>
        
</div>

</body>
    include footer