#footer
	p Copyright ©2017 小刚微知

script(src="/javascripts/quest.js")
script(src="/javascripts/jquery-3.2.1.min.js")
script(src="/javascripts/popper.min.js")
script(src="/javascripts/bootstrap.min.js")