extends header

block content
	main(role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3")
		h2 上传文件
		form(id='uploadForm' action='/upload' method='post' encType="multipart/form-data")
			div(class="form-group")
				label(for="type") Type
				input(type='text' id="type" name="type" placeholder="一级目录" required autofocus class="form-text text-muted")
			div(class="form-group")
				label(for="chapter") Chapter
				input(type='text' id="chapter" name="chapter" placeholder="章节" required class="form-text text-muted")
			div(class="form-group")
				input(type='file' name='sampleFile' required)
				input(type='submit' value='Upload!' class="btn btn-info")
			
	include footer