extends header

block content

        main(role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3")
          section(class="row text-center placeholders")
            <div class="col-6 col-sm-3 placeholder">
              <a href="#"><img src="data:image/gif;base64,R0lGODlhAQABAIABAAJ12AAAACwAAAAAAQABAAACAkQBADs=" width="200" height="200" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail"></a">
              <h4>Computer Networking</h4>
              <div class="text-muted">计算机网络</div>
            </div>
            <div class="col-6 col-sm-3 placeholder">
              <a href="/exam/list"><img src="data:image/gif;base64,R0lGODlhAQABAIABAADcgwAAACwAAAAAAQABAAACAkQBADs=" width="200" height="200" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail"></a">
              <h4>Software Enginerring</h4>
              <span class="text-muted">软件工程</span>
            </div>
            <div class="col-6 col-sm-3 placeholder">
              <a href="#"><img src="data:image/gif;base64,R0lGODlhAQABAIABAAJ12AAAACwAAAAAAQABAAACAkQBADs=" width="200" height="200" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail"></a">
              <h4>Java SE</h4>
              <span class="text-muted">基础习题</span>
            </div>
            <div class="col-6 col-sm-3 placeholder">
              <a href="#"><img src="data:image/gif;base64,R0lGODlhAQABAIABAADcgwAAACwAAAAAAQABAAACAkQBADs=" width="200" height="200" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail"></a">
              <h4>Oracle</h4>
              <span class="text-muted">sql</span>
            </div>
            include footer