extends header

block content

        main(role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3")
          section(class="row text-center placeholders")
            <div class="col-6 col-sm-3 placeholder">
              <a href="#"><img src="data:image/gif;base64,R0lGODlhAQABAIABAAJ12AAAACwAAAAAAQABAAACAkQBADs=" width="200" height="200" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail"></a">
              <h4>辽宁专升本</h4>
              <div class="text-muted">历届总结</div>
            </div>
            <div class="col-6 col-sm-3 placeholder">
              <a href="/exam/list"><img src="data:image/gif;base64,R0lGODlhAQABAIABAADcgwAAACwAAAAAAQABAAACAkQBADs=" width="200" height="200" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail"></a">
              <h4>Software Enginerring</h4>
              <span class="text-muted">必过考题</span>
            </div>
            <div class="col-6 col-sm-3 placeholder">
              <a href="#"><img src="data:image/gif;base64,R0lGODlhAQABAIABAAJ12AAAACwAAAAAAQABAAACAkQBADs=" width="200" height="200" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail"></a">
              <h4>Java SE</h4>
              <span class="text-muted">基础习题</span>
            </div>
            <div class="col-6 col-sm-3 placeholder">
              <a href="#"><img src="data:image/gif;base64,R0lGODlhAQABAIABAADcgwAAACwAAAAAAQABAAACAkQBADs=" width="200" height="200" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail"></a">
              <h4>Oracle</h4>
              <span class="text-muted">sql</span>
            </div>

          h2 試卷
          div(class="table-responsive")
            table(class="table table-striped")
              thead
                tr
                  th #
                  th Header
                  th Header
                  th Header
                  th Header
              tbody
                tr
                  td 1,001
                  td Lorem
                  td ipsum
                  td dolor
                  td sit
                
                tr
                  td 1,002
                  td amet
                  td consectetur
                  td adipiscing
                  td elit
                
                tr
                  td 1,003
                  td Integer
                  td nec
                  td odio
                  td Praesent
                
                tr
                  td 1,003
                  td libero
                  td Sed
                  td cursus
                  td ante
                
                tr
                  td 1,004
                  td dapibus
                  td diam
                  td Sed
                  td nisi
