extends header

block content

	div(class="container")
		form(class="form-signin" method="post" action="/login")
			h2(class="form-signin-heading") Please sign in
			label(for="inputEmail" class="sr-only") User Name
			input(type="input" value= username id="username" name="username" class="form-control" placeholder="User Name" required autofocus)
			label(for="inputPassword" class="sr-only") Password
			input(type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required)
			div(class="input-group")
				span(class="")
					input(type="checkbox" value="remember-me")
				p Remember me
			h5(class="form-signin-heading", style="color:red;")= message
			button(class="btn btn-lg btn-primary btn-block" type="submit") Sign in

	script
		|document.getElementById('left').style.display='none';
	include footer
	link(href="/stylesheets/signin.css" rel="stylesheet")