extends header

block content

	<div class="container">
		<form class="form-signin" method="post" action="/login">
			<h2 class="form-signin-heading">Please sign in</h2>
			<label for="inputEmail" class="sr-only">User Name</label>
			<input type="input" id="username" name="username" class="form-control" placeholder="User Name" required autofocus>
			<label for="inputPassword" class="sr-only">Password</label>
			<input type="password" id="inputPassword" name="password"  class="form-control" placeholder="Password" required>
			<div class="checkbox">
				<label>
					<input type="checkbox" value="remember-me"> Remember me
				</label>
				h5(class="form-signin-heading" ,style="color:red;")= message
			</div>
			<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
		</form>
	</div> <!-- /container -->

	link(href="/stylesheets/signin.css" rel="stylesheet")
	script
		|document.getElementById('left').style.display='none';
	include footer