extends header

block content
	main(role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3")
		section(class="row text-center placeholders")
			each row in menus
				div(class="col-6 col-sm-3 placeholder")
					a(href= row['url']) #[img(src= row['src'] width="120" height="120" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail")]
					h4= row.type
					div(class="text-muted")= row.title

	include footer