extends header

block content
    main(role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3")
      h2 试卷
      div
          textarea(id="items",style="display:none;")= JSON.stringify(rows)
      div(class="form-group")
        label 题目1
        textarea(class="form-control" rows="5") volatile关键字是否能保证线程安全？
      div(class="input-group")
        span(class="basic-addon1") A
        input(class="form-control", value="能")
      div(class="form-group row")
        label(class="col-sm-2 col-form-label") B
        div(class="col-sm-10")
           input(class="form-control", value="不能")
      each row in rows
        each val, key in row
          div.form-group
            label key
            span val

        //include footer
    script(src="/javascripts/quest.js")
    script(src="/javascripts/jquery321min.js")
    script(src="/javascripts/popper.min.js")
    script(src="/javascripts/bootstrap.min.js")