.page__code {
    margin: 5px;
    background-color: #fbedbb!important;
    border: #c0c0c0 1px solid;
    border-radius: 6px 6px 6px 6px;
    padding: 5px;
}
.page__code pre {
    font-family: Courier New !important;
    font-size: 12px !important;
    word-wrap: break-word;
    white-space: pre-wrap;
}